@charset "UTF-8";
/* ---全体--- */
* {
   
    box-sizing: border-box;
}

/* ---ヘッダー--- */
.header {
    width: 100%;
    height: 70px;
    padding: 0 3%;
    background-color: #aaa;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_logo {
    width: 30px;
    height: 30px;
    background: #333;
}
.header_txt {
    font-size: 18px;
    font-weight: bold;
}

/* ---メイン--- */
.main {
    width: 100%;
    height: 100vh;
    position: relative;
    background: #efefef;
}


/* ---フォーム--- */

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  margin: auto;
}

.self {
  padding-top: 50px;
  padding-bottom: 30px;
  color: #000;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}


td.letter {
  padding: 15px;
  text-align: center;
  border: 1px solid #000;
  background-color: rgb(255, 255, 255);
  font-size: 15px;
  width: 25%;
}

td {
  background-color: #d1d0d0;
  color: #000;
  border: 1px solid #000;
}



.button {
  display: flex;
  justify-content: space-between;
   align-items: center;
   width: 100%;
  }

.back,
.edit,
.delete {
  flex: 0 0 auto;
  display: inline-block;
  padding: 10px 20px;
  color: black;
  text-align: center;
  background-color: #87CEFA;
  border: none;
  text-decoration: none;
  font-size: 17px;
}


.delete {
  background-color: #FF6347;
}

/* ----------メディアクエリ（ノートPC用）---------- */

@media screen and (max-width: 1200px) {
    .header {
        height: 65px;
        padding: 0 4%;
    }
    .header_logo {
        width: 27px;
        height: 27px;
    }
    .header_txt {
        font-size: 17px;
    }

    .back,
    .edit,
    .delete {
        font-size: 17px;
    }


/*---メディアクエリ（タブレット用）---*/
@media screen and (max-width: 992px) {

}

/*---メディアクエリ（スマホ用）---*/
@media screen and (max-width: 767px) {
    .header {
        height: 60px;
        padding: 0 5%;
    }
    .header_logo {
        width: 25px;
        height: 25px;
    }
    .header_txt {
        font-size: 16px;
    }
    .back,
    .edit,
    .delete {
        font-size: 16px;
    }
