<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="UTF-8">
  
  <title>詳細画面</title>
  
  <link rel="stylesheet" th:href="@{/detail.css}">
  
  <link rel="stylesheet" th:href="@{/reset.css}">
  </head>
<body id="signup_page">

<header class="header">

    <div class="header_logo"></div>
    
    <p class="header_txt">JavaTeamDevelopment</p>
    
</header>


<main class="main">

  <div class="container">
  

    
    <div class="table-wrapper">
      
      <form>
        
        <div class="self-container">
          
          <h2 class="self">自己紹介</h2>
          

          <table>
    <!-- 管理番号の行 -->
    <tr>
        <td class="letter">管理番号</td>
        <td class="info" th:each="user : ${users}" th:text="${user.control_num}"></td>
    </tr>

    <!-- 名前の行 -->
    <tr>
        <td class="letter">名前</td>
        <td class="info" th:each="user : ${users}" th:text="${user.name}"></td>
    </tr>

    <!-- 性別の行 -->
    <tr>
        <td class="letter">性別</td>
        <td class="info" th:each="user : ${users}" th:text="${user.gender}"></td>
    </tr>

    <!-- 趣味の行 -->
    <tr>
        <td class="letter">趣味</td>
        <td class="info" th:each="user : ${users}" th:text="${user.hobby}"></td>
    </tr>

    <!-- 一言の行 -->
    <tr>
        <td class="letter">一言</td>
        <td class="info" th:each="user : ${users}" th:text="${user.introduction}"></td>
        
    </tr>
    
</table>
          
          <div class="button">
            
            <a  class = "back" th:href="@{/display}">戻る</a>
            
            <a class="edit" th:href="@{/input}">編集</a>
            
            <button class="delete" th:href="@{/delete(id=*{id})}">消去</button>
          
          </div>
        
        </div>
      
      </form>
    
    </div>
    
  </div>
  
</main>

</body>

</html>