<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="UTF-8">
  
  <title>一覧画面</title>
  
  <link rel="stylesheet" th:href="@{/display.css}">
  
  <link rel="stylesheet" th:href="@{/reset.css}">
  
  </head>
  
<body>

<header>

<div class="container">

  <img class="image" src="">
  
        <h2 class="headName">JavaTeamDevelopment</h2>
        
      </div>
      
</header>

<div class="form-wrapper">

<form>

<h2 class="self">自己紹介登録者一覧</h2>

<table>

    <thead>
    
        <tr>
        
            <th>ID</th>
            
            <th>名前</th>
            
        </tr>
        
    </thead>
    
    <tbody>
    
        <tr th:each="user : ${users}">
        
             <td><a th:href="@{/details/{id}(id=${users.id})}" th:text="${usesr.id}"></a></td>
            
            <td th:text="${users.name}"></td>
            
        </tr>
        
    </tbody>
    
</table>

</form>

</div>


</body>

</html>