<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="UTF-8">
  
  <title>一覧画面</title>
  
  <link rel="stylesheet" th:href="@{/display.css}">
  
  <link rel="stylesheet" th:href="@{/reset.css}">
  
  </head>
  
<body id="signup_page">

<header class="header">

    <div class="header_logo"></div>
    
    <p class="header_txt">JavaTeamDevelopment</p>
    
</header>

<main class="main">


<form>

<h2 class="self">自己紹介登録者一覧</h2>

<table>

    <thead>
    
        <tr>
        
            <th>ID</th>
            
            <th>名前</th>
            
        </tr>
        
    </thead>
    
    <tbody>
    
        <tr th:each="user : ${users}" th:if="${user != null}">
        
        <td><a th:href="@{/detail}" th:text="${user.userId}"></a></td>
    
        <td th:text="${user.name}"></td>

</tr>
        
    </tbody>
    
</table>

</form>



</main>
</body>

</html>